@import "../../Assets/colors";
@import "../../Assets/icomoon.css";

.header {
  background-color: $blue;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .logo {
    width: 300px;
    @media screen and (max-width: 530px) {
      width: 200px;
      margin-bottom: 20px;
    }
  }

  .photo-cover {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translate(500px, 500px);
    transition: transform .5s ease 0s;
    &.slideIn {
      transform: none;
    }
    .photo {
      object-fit: contain;
      width: 200px;
      transform: rotateZ(-30deg);
      @media screen and (max-width: 530px) {
        width: 150px;
      }
      @media screen and (max-width: 430px) {
        width: 80px;
      }
      @media screen and (max-width: 350px) {
        display: none;
      }
    }
  }


  .text {
    text-anchor: middle;
    font-size: 30px;
    @media screen and (max-width: 370px) {
      font-size: 23px;
    }
  }

  .name {
    margin-left: 70px;
  }

  .line {
    display: flex;
    flex-wrap: wrap;
  }

  .icon {
    color: $white;
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    margin-left: 30px;
    &:first-child{
      margin-left: 0;
    }
    .font-awesome {
      font-size: 40px;
      margin-right: 10px;
    }
  }

  a:hover {
    color: $pink;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px 10px 10px 50px;
    @media screen and (max-width: 320px) {
      padding: 10px;
    }
  }

}
