@import "../../Assets/colors";

.modal-experience {
  display: flex;
  justify-content: stretch;
  @media screen and (max-width: 565px) {
    justify-content: center;
  }

  .block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .skills {
    @media screen and (max-width: 870px) {
      display: flex;
      flex-wrap: wrap;
      width: 30%;
    }
  }
  .experience {
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    color: $darkgrey;
    @media screen and (max-width: 837px) {
      margin-top: 0;
      font-size: 15px;
    }
    @media screen and (max-width: 565px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
    .font-awesome {
      color: $blue;
      margin-right: 10px;
    }
    .year {
      font-size: 20px;
      width: 100px;
      text-align: right;
      @media screen and (max-width: 837px) {
        text-align: center;
      }
    }
    .pipe {
      background-color: $pink;
      width: 5px;
      height: 70px;
      margin: 0 20px;
      @media screen and (max-width: 565px) {
        display: none;
      }
    }

    .dots {
      font-size: 30px;
      color: $blue;
      margin: 0 30px;
      @media screen and (max-width: 870px) {
        display: none;
      }
    }
    .cpt {
      @media screen and (max-width: 870px) {
        margin: 0 30px;
        font-weight: bold;
        color: $blue;
      }
      @media screen and (max-width: 565px) {
        margin: 10px 10px;
      }
    }
  }
}
.place {
  display: flex;
  align-items: center;
}
