@import "../../Assets/colors";


.tab {
  background-color: $grey;
  height: 300px;
  margin: 20px 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 70px;
  color: $pink;
  padding: 20px;
  &:hover {
    background-color: $blue;
    opacity: 0.3;
    color: black;
  }
}
