@import "../../Assets/colors";


.tab {
  background-color: $grey;
  margin-top: 20px;
  height: 100%;
  font-size: 50px;
  color: $pink;
  padding: 10px 20px;

  &:hover {
    background-color: rgba($blue, 0.3);
    cursor: pointer;
  }

  .title {
    overflow: hidden;
    width: 100%;
  }
}
